{% extends 'base.html.twig' %}

{% block title %}Site en Maintenance - OpenPixl{% endblock %}

{% block body %}
    <div class="maintenance-background bg-gray-900 h-screen flex flex-col items-center justify-center text-center">
        <div>
            <img src="{{ asset(logo) }}" class="h-64 w-64" alt="Logo de la société OpenPixl">
        </div>
        <div class="text-white">
            <h1 class="text-4xl font-bold">{{ title }}</h1>
            <p class="mt-4 text-lg">{{ message }}</p>
        </div>
        <div class="mt-8 flex flex-col items-center justify-center">
            <form action="#" method="post" class="flex items-center">
                <label for="email" class="sr-only" aria-label="email">Email</label>
                <input
                    id="email"
                    type="email"
                    name="email"
                    placeholder="laissez votre email"
                    class="py-2 px-4 bg-gray-800 text-white rounded-l-md focus:outline-none"
                    required
                />
                <button
                    type="submit"
                    class="bg-blue-500 py-2 px-4 text-white rounded-r-md hover:bg-blue-600 focus:outline-none"
                >
                    S'inscrire
                </button>
            </form>
            <p class="mt-2 text-gray-400 text-sm">Soyez les premiers avertis dès le lancement de notre nouveau site !</p>
        </div>
    </div>
{% endblock %}
